.App {
  text-align: center;
}

.Game-div {
  /*width: 99.2%;*/
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 1px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.mapTileButton {
  height: 40px;
  width: 40px;
  font-size: 18px;
  padding: 1px;
}